/* And this is a comment in CSS, which will appear in the final CSS file. */

/* Usage - Stick into the top of your SCSS sheet and @include where needed for cross browser transitions. Credit: Andy Howells
*/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$image-wrapper: 90%;

body {
  font: 100% $font-stack;
  color: $primary-color;

}

h2 {
font: 2.3em $font-stack;
margin-bottom: 0;
margin-top: 65px;

}

h3 {
font: 1.4em $font-stack;
margin-top: 0;

}

h4 {
font: 1em $font-stack;
font-weight: bold;

}

#boring{
width: 680px;
display:inline-block;
vertical-align: top; 
// float:left;


}

.wrapper{
margin: 10px auto;
width:920px;
float:none;


}
.formwrapper{

max-width:620px;
// float:none;

}

.wordwrapper{
margin: 10px auto;
width:800px;
height:100%;
padding-left: 80px;
}

.addword {
margin: 0 0 0 10px;
height:auto; 
width:auto; 
max-width:200px; 
max-height:200px;
float: right;

}

#addbut{

height:auto; 
width:auto; 
max-width:200px; 
max-height:200px;
}

table{

width:100%;
}


td
{
text-align:left;
padding:8px;
}

.imagew{
height:$image-wrapper;

}

#wtf{
float: left;
padding-right: 20px;
}

header {
width:1024px;
margin: 30px auto;
height: 130px;
padding-left: 80px;

}

#tagline{
float:left;

}

#search {
width:300px;
margin: 33px 20px auto;
float:right;

}

label,.searcht{font: 18px $font-stack;

}



#searchs {
width: 220px;
// margin: 0 auto;
float:left;

}

textarea {
height: 100px;
   width: 500px;
}

#submit {
float:left;

}
#home{
float:right;
margin-top: 20px;		
}

#book{
width: 280px;
margin: 10px auto;
padding-top:100px;



}

.imgword{
float:none;
width:160px;
margin: 0 0 0 250px;

}


