/* And this is a comment in CSS, which will appear in the final CSS file. */

/* Usage - Stick into the top of your SCSS sheet and @include where needed for cross browser transitions. Credit: Andy Howells
*/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$image-wrapper: 90%;

body {
  font: 100% $font-stack;
  color: $primary-color;

}

h2 {
font: 2em $font-stack;

}

h3 {
font: 1.5em $font-stack;

}

#boring{
width: 300;
display:inline-block;
vertical-align: top; 
float:left;


}

#wrapper{
// margin: 150px auto;
width:930px;
padding-top: 200;


}

.imagew{
height:$image-wrapper;

}

header {
width:1024px;
margin: 30px auto;
height: 130px;
padding-left: 100px;

}

#tagline{
float:left;

}

#search {
width:300px;
margin: 33px 120px auto;
float:right;

}

label,.searcht{font: 18px $font-stack;

}

.Add button{

float: right;
margin: 0 0 0 10px;

}
#searchs {
width: 220px;
// margin: 0 auto;
float:left;

}

