/* And this is a comment in CSS, which will appear in the final CSS file. */
/* Usage - Stick into the top of your SCSS sheet and @include where needed for cross browser transitions. Credit: Andy Howells
*/
body {
  font: 100% Helvetica, sans-serif;
  color: #333333; }

h2 {
  font: 2em Helvetica, sans-serif; }

h3 {
  font: 1.5em Helvetica, sans-serif; }

#boring {
  width: 300;
  display: inline-block;
  vertical-align: top; }

.wrapper {
  margin: 10px auto;
  width: 920px;
  float: none; }

.formwrapper {
  margin: 10px auto;
  width: 800px;
  float: none;
  padding-left: 10px; }

.imagew {
  height: 90%; }

header {
  width: 1024px;
  margin: 30px auto;
  height: 130px;
  padding-left: 100px; }

#tagline {
  float: left; }

#search {
  width: 300px;
  margin: 33px 120px auto;
  float: right; }

label, .searcht {
  font: 18px Helvetica, sans-serif; }

.Add button {
  float: right;
  margin: 0 0 0 10px; }

#searchs {
  width: 220px;
  float: left; }
