/* And this is a comment in CSS, which will appear in the final CSS file. */
/* Usage - Stick into the top of your SCSS sheet and @include where needed for cross browser transitions. Credit: Andy Howells
*/
body {
  font: 100% Helvetica, sans-serif;
  color: #333333; }

h2 {
  font: 2.3em Helvetica, sans-serif;
  margin-bottom: 0;
  margin-top: 65px; }

h3 {
  font: 1.4em Helvetica, sans-serif;
  margin-top: 0; }

h4 {
  font: 1em Helvetica, sans-serif;
  font-weight: bold; }

#boring {
  width: 680px;
  display: inline-block;
  vertical-align: top; }

.wrapper {
  margin: 10px auto;
  width: 920px;
  position: relative;
  padding-top: 5px; }

.formwrapper {
  max-width: 620px;
  margin: 10px auto; }

.wordwrapper {
  margin: 10px auto;
  width: 700px;
  padding-left: 80px;
  padding-bottom: 10px;
  position: static;
  left: 100px;
  top: 200px; }

.addword {
  margin: 0 0 0 10px;
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px;
  float: right; }

.post {
  width: 500px;
  padding-left: 5px;
  border-color: #d7d7d7;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px; }

#addbut {
  height: auto;
  width: auto;
  max-width: 200px;
  max-height: 200px; }

table {
  margin: 10px auto; }

#big {
  margin: 10px auto;
  width: 260px; }

th {
  text-align: left;
  padding: 8px; }

.imagew {
  height: 90%; }

#wtf {
  float: left;
  padding-right: 20px; }

header {
  width: 1024px;
  margin: 30px auto;
  height: 130px;
  padding-left: 80px; }

#tagline {
  float: left; }

#search {
  width: 300px;
  margin: 33px 20px auto;
  float: right; }

label, .searcht {
  font: 18px Helvetica, sans-serif; }

#searchs {
  width: 220px;
  float: left; }

textarea {
  height: 100px;
  width: 500px; }

#submit {
  float: left; }

#home {
  float: right;
  margin-top: 20px; }

#book {
  width: 280px;
  margin: 10px auto;
  padding-top: 100px; }

.imgword {
  float: none;
  width: 160px;
  margin: 0 0 0 250px; }
