/* And this is a comment in CSS, which will appear in the final CSS file. */
/* Usage - Stick into the top of your SCSS sheet and @include where needed for cross browser transitions. Credit: Andy Howells
*/
body {
  font: 100% Helvetica, sans-serif;
  color: #333333; }

h2 {
  font: 2em Helvetica, sans-serif; }

h3 {
  font: 1.5em Helvetica, sans-serif; }

#wrapper {
  margin: 150px auto;
  width: 930px;
  padding-top: 200; }

header {
  width: 1024px;
  margin: 30px auto;
  padding-left: 90px; }

#tagline {
  float: left; }

#search {
  width: 200px;
  margin: 30px auto;
  float: right; }
